@import "@/assets/styles/variable";

.cart {
   position: relative;

   @media (max-width: 767px) {
      &:hover {
         color: $fontColor;
      }
   }
}

.quantity {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   top: -80%;
   right: -20%;
   background-color: $mainColor;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   font-size: 0.6rem;
   font-weight: 600;
   color: $fontColor;
}